.pageContainer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.teamContainer {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.teamCardStyles {
  height: 200px;
  width: 200px;
}

.teamCardImageStyles {
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 500px) {
  .pageContainer {
    margin-top: 20px;
  }
  .teamCardStyles {
    height: 130px;
    width: 130px;
  }

  .teamCardImageStyles {
    width: 100px;
    height: 100px;
  }
}
